<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix"><img src="https://www.megaflag.ru/sites/default/files/styles/h_60/public/images/directory_names/flag_belorussija_enl.jpg" alt=""></i>
        <input type="text" inputmode="numeric" inputmode="numeric" id="blr"  placeholder="0">
        <label for="blr" class="active active">BLR</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix"><img src="https://www.megaflag.ru/sites/default/files/styles/h_60/public/images/directory_names/flag_usa_enl.jpg" alt=""></i>
        <input type="text" inputmode="numeric" id="usd"  placeholder="0" />
        <label for="usd">USD</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/250px-Flag_of_Europe.svg.png" alt=""></i>
        <input type="text" inputmode="numeric" id="eur" placeholder="0" />
        <label for="eur">EUR</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix"><img src="https://www.megaflag.ru/sites/default/files/styles/h_60/public/images/shop/products/flag_rf_enl.jpg" alt=""></i>
        <input type="text" inputmode="numeric" id="rub" placeholder="0" />
        <label for="rub">RUB</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix"><img src="https://www.megaflag.ru/sites/default/files/styles/h_60/public/images/directory_names/flag_polsha_enl.jpg?itok=-HFE5GGA" alt=""></i>
        <input type="text" inputmode="numeric" id="pln" placeholder="0" />
        <label for="rub">PLN</label>
    </div>
</div>
<script src="./js/accounting.js"></script>
<script src="./js/convert.js"></script>
<script>
    convert({{USD}}, {{EUR}}, {{RUB}}, {{PLN}})
</script>