<div class="row">
    <div class="input-field col s12">
        <input type="number" id="blr" class="validate" placeholder="0">
        <label for="blr" class="active active">BLR</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input type="number" id="usd" class="validate" placeholder="0" />
        <label for="usd">USD</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input type="number" id="eur" class="validate" placeholder="0" />
        <label for="eur">EUR</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input type="number" id="rub" class="validate"placeholder="0" />
        <label for="rub">RUB</label>
    </div>
</div>

<script src="./js/convert.js"></script>
<script>
    convert({{USD}}, {{EUR}}, {{RUB}})
</script>